:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --bg-accent-subtle: #ffffff80;
  --accent: #b8860b;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-accent-subtle: #ffffff20;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: black;
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--accent);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
a:hover,
a:active {
  color: var(--accent);
  transition: color 0.1s ease-out;
}
a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

button {
  padding: 0.5rem;
  background-color: powderblue;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 1rem;
}
main {
  margin: auto;
  max-width: var(--max-width);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
