.body {
  padding-top: 2rem;
}

.header {
  border-bottom: 1px solid var(--bg-accent-subtle);
  display: flex;
  justify-content: space-around;
}

.headerContents {
  max-width: var(--max-width);
  width: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

@media (min-width: 1120px) {
  .header {
    margin-left: 2rem;
  }
}
