.body {
  padding-top: 2rem;
}

.header {
  margin-left: 2rem;
  margin: auto;
  max-width: var(--max-width);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 1120px) {
  .header {
    margin-left: 2rem;
  }
}
