.home {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: var(--font-mono);
  font-size: 0.85rem;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 700px) {
  .home {
    flex-direction: row;
  }
  .home .imageWrap {
    border-radius: 0;
    overflow: initial;
  }
}
.imageWrap {
  border-radius: 50%;
  margin: auto;
  max-height: 50vw;
  overflow: hidden;
}

.imageWrap img {
  height: auto;
  max-width: 50vw;
}

.bio p,
.bio ul {
  margin: 0;
  padding: 1rem 0rem;
  position: relative;
}

.bio > div ~ div {
  margin-top: 2rem;
}

.skills li {
  display: inline;
}

.skills li ~ li::before {
  content: ', ';
}

.links a {
  margin: 0 1rem;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
  .main > section {
    flex-direction: column;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main > section {
    gap: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
}
